CherryPy==3.6.0
Django==1.6.2
Pillow==2.3.0
PyYAML==3.10
Pygments==1.6
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
cairocffi==0.6
cffi==0.8.6
decorator==3.4.0
ez-setup==0.9
gizeh==0.1.09
google==1.05
graphterm==0.40.2
imageio==1.0
lk==1.1
mechanize==0.2.5
moviepy==0.2.2.02
msgpack-python==0.4.2
nltk==2.0.4
numpy==1.7.1
pol==0.3.2
pycparser==2.10
pycrypto==2.6.1
pyglet==1.1.4
requests==2.0.0
selenium==2.39.0
stevedore==0.12
sympy==0.7.4.1
termsaver==0.3
tornado==3.2
tqdm==1.0
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
